@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --primary-100: #6718ef;
    --primary-200: #6927dc;
    --primary-300: #6933c8;
    --primary-400: #673cb5;
    --primary-500: #6442a2;
    --primary-600: #5f458f;
    --primary-700: #58457b;
    --primary-800: #4f4268;
    --primary-900: #453c56;
  }
}
html {
  height: 100%;
}

body {
  height: 100vh;
}
* {
  @apply text-slate-50;
}
